@page
@model CAPA_PRESENTACION.Pages.Modulos.CompraModel
@{
    ViewData["Title"] = "Compra";
}

<script src="~/Modules/Compra/ViewCompras.js" type="module"></script>

<div id="AppMain" class="AppMain">
</div>
