
@page
@model CAPA_PRESENTACION.Pages.Modulos.CrearCompraModel
@{
    ViewData["Title"] = "Nueva Compra";
}

<script src="~/Modules/Compra/ViewNuevaCompra.js" type="module"></script>

<div id="AppMain" class="AppMain">
</div>

