@page
@model CAPA_PRESENTACION.Pages.Modulos.DarBajaProductoModel
@{
    ViewData["Title"] = "Dar de baja a producto";
}

<script src="~/Modules/ProductoBaja/DarBajaProducto.js" type="module"></script>

<div id="AppMain" class="AppMain">
</div>

