@page
@model CAPA_PRESENTACION.Pages.Modulos.MercanciasModel
@{
    ViewData["Title"] = "Administracion de Mercancias";
}

<script src="~/Modules/AdminMercancia/AdminMercancias.js" type="module"></script>

<div id="AppMain" class="AppMain">
</div>