@page
@model CAPA_PRESENTACION.Pages.Modulos.ProductoBajasModel
@{
    ViewData["Title"] = "Productos dados de bajas";
}

<script src="~/Modules/ProductoBaja/ViewProductoBaja.js" type="module"></script>

<div id="AppMain" class="AppMain">
</div>
