@page
@model CAPA_PRESENTACION.Pages.CatalogosModel
@{
    ViewData["Title"] = "Administracion de Catalogos";
}

<script src="~/ViewCatalogos.js" type="module"></script>

<div id="AppMain" class="AppMain">
</div>