@page
@model CAPA_PRESENTACION.Pages.desingModel
@{
}
<div class="FormContainer1">
    <input type="button" class="btn_primary" value="Aceptar" />
    <input type="button" class="btn_secundary" value="Aceptar" />
    <input type="button" class="btn_neutral" value="Aceptar" />
</div>

<div class="FormContainer2">
    <input type="text" class="text_primary" value="Valor" />
    <input type="text" class="text_secundary" value="Valor" />
    <input type="text" class="text_neutral" value="Valor" />
</div>

<div class="FormContainer3">
    <input type="button" class="btn_primary" value="Aceptar" />
    <input type="button" class="btn_secundary" value="Aceptar" />
    <input type="button" class="btn_neutral" value="Aceptar" />
</div>

<table class="table1">
    <thead>
    <th>Header 1</th>
    <th>Header 2</th>
    <th>Header 3</th>
    </thead>
    <tbody>
        <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
            <td>Dato 3</td>
        </tr
        <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
            <td>Dato 3</td>
        </tr>
    </tbody>
</table>